  h1 {
  font-family: 'Open Sans', sans-serif;
  float:left;
  text-align: left;
  font-size: 45px;
  color: #16a085;
  display:inline;
  margin-bottom:-50px;
  margin-top:80px;
  margin-left:4px;
}

  #mi {
    color: #7a4c02;
  }

.toggle img{
  float:left;
  max-width:230px;
  margin-left:598px;
  position: relative;
}  

.portfolio {
  position:relative;
  width:900px;
  margin-top:22px;
}

.portfolio img {
  max-width:320px;
  height:auto;
  margin:5px;
}

body {
  position: fixed;
  max-width: 590px;  
  margin-top: 5px;
  left:50%;
  margin-left:-423px;
}

footer {
  text-align: center;
  font-family: 'Helvetica', sans-serif;
  position:fixed;
  bottom:4px;
  width:100%;
  height:20px;
  margin-left:-223px;      
}
