  html {
    margin-left:-100px;
  }

  h1 {
  font-family: 'Open Sans', sans-serif;
  float:left;
  text-align: left;
  font-size: 45px;
  color: #16a085;
}
  #mi {
    color: #7a4c02;
  }

.toggle img{
  float:left;
  max-width:200px;
  margin-left:600px;
  position: relative;
}  

.portfolio {
  float:left;
  width:900px;
}

.portfolio img {
  max-width:320px;
  height:auto;
  margin:5px;
}

body {
  margin: auto;
  max-width: 590px;  
  margin-top: 5px;
  margin-left: -100px;
}
