  h1 {
  font-family: 'Open Sans', sans-serif;
  float:left;
  text-align: left;
  font-size: 45px;
  color: #16a085;
  display:inline;
  margin-bottom:-50px;
  margin-top:80px;
  margin-left:6px;
  font-weight: 800;
}

  #mi {
    color: #7a4c02;
     font-weight: 800;
  }

.toggle img{
  max-width:230px;
  margin-left:604px;
}  

.header {
  margin-bottom: -20px;
}

.portfolio {
  position:relative;
  width:900px;
  margin-top:22px;
}

.portfolio img {
  max-width:320px;
  height:auto;
  margin:5px;
}

.main {
  position: fixed;
  margin-top: 30px;
  left:50%;
  margin-left:-423px;
}

.bold {
  float:left;
  font-family: helvetica, sans-serif;
  font-weight: bold;
  font-size:15px;
}

.caption1 {
  margin-top: -15px;
  margin-left: 5px;
}

.caption2 {
  display:inline-block;
  margin-left:50px;
}

.caption3 {
  display: inline-block;
  margin-left:145px;
}

.caption4 {
  margin-top:-5px;
}

.caption5 {
  margin-top:-5px;
}

.caption6{
  margin-top:-5px;
}

p {
  font-family: helvetica, sans-serif;
  float:left;
  font-size: 15px;
}

footer {
  text-align: center;
  font-family: 'Helvetica', sans-serif;
  position: fixed;
  margin-left: 300px;
  bottom: 0px;
  height:20px;
  color:#fff;
}
