h1 {font-family: "Helvetica";
  src: local("Georgia"), local("Garamond"), local("Palatino"), local("Book Antiqua");
  unicode-range: U+0026; 
  line-height: 1;
  margin-top: 0;
  color: #aaa; }

<<<<<<< HEAD
=======
p {
  margin: auto auto 1.5em; }

abbr,
acronym,
blockquote,
code,
dir,
kbd,
listing,
plaintext,
q,
samp,
tt,
var,
xmp {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  -o-hyphens: none;
  hyphens: none; }

pre code {
  white-space: -moz-pre-wrap;
  white-space: pre-wrap; }

pre {
  white-space: pre; }

code {
  white-space: pre;
  font-family: monospace; }

  header {
  margin: 0 auto;
  text-align: center;
  border-bottom: 15px single #aaa; }
  header h1 {
    font-weight: 900; }
    header h1 a {
      transition: color .5s;
      -webkit-transition: color .5s; }
      header h1 a:hover {
        color: #a3a6da;
        text-decoration: none; }
  header ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 10px; }
    header ul li {
      font-family: "helvetica", sans-serif;
      font-size: 21px;
      display: inline-block;
      padding: 0 10px 0 0; }
  @media screen and (max-width: 600px) {
    header h1 {
      font-size: 48px; } }

  
>>>>>>> a8eb0648df32d01c0574dc91692f2e1b355db364
