h1 {font-family: 'Chivo', sans-serif;
  src: local("Georgia"), local("Garamond"), local("Palatino"), local("Book Antiqua");
  unicode-range: U+0026; 
  line-height: 1;
  margin-top: 0;
  color: #000; }

  header {
  margin-left: 100px;
  text-align: left;
  border-bottom: 15px single #aaa;
  display: inline-block; }

  header h1 {
    font-family: 'Montserrat', sans-serif;
    }
  header h1 a {
    color:#000000;
    text-decoration: none;; 
  }
  header h1 a:hover {
        color: #656565;
        text-decoration: none; }
  header ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 10px;
    }
  header ul a {
    color: #000000;
    text-decoration: none;
  }
  header ul a:hover {
    color: #2f2f2f;
    text-decoration: none;
  }
    header ul li {
      font-size: 21px;
      display: block;
      padding: 0px 10px 10px 0; 
      color: #000000;
      font-weight: 700;
      letter-spacing: .7px;
      font-family: 'Montserrat', sans-serif;
    }

#projects {
  padding-top:0px;
}

#menu {
  position: fixed;
  left: 50px;
  top: 10%;
  width: 8em;
  margin-top: -2.5em;
}

.nav {
  margin-left:64px;
  margin-top: -20px;
}

  .homepic {
    width:400px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto 
  }

.verticalLine {
    border-left: thick solid #000000;
    border-right: thick solid #000000;
}

.nameplate {
  margin-left:65px;
  margin-top: -20px;
}

  