h1 {font-family: "Helvetica";
  src: local("Georgia"), local("Garamond"), local("Palatino"), local("Book Antiqua");
  unicode-range: U+0026; 
  line-height: 1;
  margin-top: 0;
  color: #000; }

p {
  margin: auto auto 1.5em; }

pre code {
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
  margin-top: 200px; }

pre {
  white-space: pre; }

code {
  white-space: pre;
  font-family: monospace; }

  header {
  margin-left: 100px;
  margin-right:400px;
  text-align: left;
  border-bottom: 15px single #aaa; }
  header h1 {
    font-weight: 700;
    }
  header h1 a {
    color:#000000;
    text-decoration: none;; 
  }
  header h1 a:hover {
        color: #656565;
        text-decoration: none; }
  header ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 10px;
    }
  header ul a {
    color: #000000;
    text-decoration: none;
  }
  header ul a:hover {
    color: #656565;
    text-decoration: none;
  }
    header ul li {
      font-family: "helvetica", sans-serif;
      font-size: 21px;
      display: block;
      padding: 10px 10px 0 0; 
      color: #000000;
      font-weight: 700;
    }

  .homepic {
    width:400px;
    display: block;
    margin-left: auto;
    margin-right: auto 
  }

.verticalLine {
    border-left: thick solid #000000;
    border-right: thick solid #000000;
}

.nameplate {
  margin-left:50px;
  margin-top: -20px;
}

  