  header {
  margin-left: 100px;
  text-align: left;
  border-bottom: 15px single #aaa;
  display: inline-block; }

  header ul a:hover {
    color: #2f2f2f;
    text-decoration: none;
  }
    header ul li {
      font-size: 21px;
      display: block;
      padding: 0px 10px 10px 0; 
      color: #000000;
      font-weight: 700;
      letter-spacing: .7px;
      font-family: 'Montserrat', sans-serif;
    }

#projects {
  padding-top:0px;
}

#menu {
  position: fixed;
  left: 70px;
  top: 10%;
  width: 8em;
  margin-top: -2.5em;
}

.nav {
  margin-left:64px;
  margin-top: -20px;
}

.verticalLine {
    border-left: thick solid #000000;
    border-right: thick solid #000000;
}

.nameplate {
  margin-left:65px;
  margin-top: -20px;
}

.hi {
  font-family: "helvetica";
  font-weight: normal;
  margin-left: auto;
  margin-right: auto;
  width: 570px;
  color: #444;
}

.hi a {
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

.hi a:hover {
  color: #aaa;
}

.portfolio {
  float:left;
    left: 50%;
    margin: auto;
}

.portfolio img {
  max-width:315px;
  height:auto;
  margin:5px;
}
  
