  h1 {
  font-family: 'Open Sans', sans-serif;
  float:left;
  text-align: left;
  font-size: 45px;
  color: #16a085;
  display:inline;
  margin-bottom:-50px;
  margin-top:80px;
  margin-left:6px;
}

  #mi {
    color: #7a4c02;
  }

.toggle img{
  max-width:230px;
  margin-left:604px;
}  

.header {
  margin-bottom: -20px;
}

.portfolio {
  position:relative;
  width:900px;
  margin-top:22px;
}

.portfolio img {
  max-width:320px;
  height:auto;
  margin:5px;
}

.main {
  position: fixed;
  margin-top: 30px;
  left:50%;
  margin-left:-423px;
}

footer {
  text-align: center;
  font-family: 'Helvetica', sans-serif;
  position: fixed;
  margin-left: 300px;
  bottom: 0px;
  height:20px;
}
