  h1 {
  font-family: 'Open Sans', sans-serif;
  float:left;
  text-align: left;
  font-size: 45px;
  color: #16a085;
  display:inline;
  margin-bottom:-50px;
  margin-top:80px;
  margin-left:6px;
  font-weight: 800;
}

  #mi {
    color: #7a4c02;
     font-weight: 800;
  }

.header {
  margin-bottom: -20px;
}

.project {
  position:relative;
  width:900px;
  margin-top:22px;
}

.main {
  position: fixed;
  margin-top: 30px;
  left:50%;
  margin-left:-423px;
}

.vimeo {
  float:left;
  margin-left:7px;
  margin-right:10px;
  margin-top:150px;
  margin-left: -365px;
}

#long img {
  float:left;
  max-width: 500px;
  margin-left:7px;
  margin-top:27px;
  margin-bottom:10px;
  margin-right:10px;
}

.talustext {
  margin-top:130px;
}

.talustext h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight:600;
  font-weight: bold;
  margin-bottom:-10px;
  margin-top:20px;
}

.talustext p {
  font-family: helvetica;
  margin-right:100px;
}

