h1 {
  font-family: 'Open Sans', sans-serif;
  float:left;
  text-align: left;
  font-size: 45px;
  color: #16a085;
  display:inline;
  margin-bottom:-50px;
  margin-top:80px;
  margin-left:6px;
  font-weight: 800;
}

  #mi {
    color: #7a4c02;
     font-weight: 800;
  }

.header {
  margin-bottom: -20px;
}

.project {
  position:relative;
  width:900px;
  margin-top:22px;
}

.main {
  position: relative;
  margin-top: 30px;
  left:50%;
  margin-left:-423px;
  overflow-y: scroll;
  overflow-x: hidden;
  max-width:1000px;
}

.img1 {
  float:left;
  margin-left:0px;
  margin-right:10px;
  margin-top:135px;
  margin-left: -370px;
  margin-bottom: 5px;
}

.img2 {
  margin-left:447px;
  margin-top:-273px;
  float:left;

}

.img3 {
  float:left;
  max-width: 283px;
  margin-left:515px;
  margin-top:-5px;
  margin-bottom:10px;
  margin-right:0px;
}

.philfesttext h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight:600;
  font-weight: bold;
  float:left;
  margin-bottom:-10px;
  margin-top: 130px;
  font-size:20px;
}

.philfesttext p {
  font-family: helvetica;
  float:left;
  margin-top:-500px;
  margin-right:100px;
  margin-left:446px;
}

