h1 {
  font-family: 'Open Sans', sans-serif;
  float:left;
  text-align: left;
  font-size: 45px;
  color: #16a085;
  display:inline;
  margin-bottom:-50px;
  margin-top:80px;
  margin-left:6px;
}

  #mi {
    color: #7a4c02;
  }

.toggle img{
  max-width:230px;
  margin-left:604px;
}  

.header {
  margin-bottom: -20px;
}

.resume {
  position:relative;
  width:900px;
  margin-top:22px;
}

#timeline {
  font-weight: 600;
  float:left;
  width:70%;
  height:360px;
  padding-top: 10px;
}

.categoryLabels {
  font-size: 18px;
}

text {
  color: #404040;
}

body {
  font-family: 'Helvetica', sans-serif;
  position: fixed;
  margin-top: 30px;
  left:50%;
  margin-left:-423px;
  color: #404040;;
}

footer {
  text-align: center;
  font-family: 'Helvetica', sans-serif;
  position: fixed;
  margin-left: 300px;
  bottom: 0px;
  height:20px;
}

