h1 {
  font-family: 'Open Sans', sans-serif;
  float:left;
  text-align: left;
  font-size: 45px;
  color: #16a085;
  display:inline;
  margin-bottom:-50px;
  margin-top:80px;
  margin-left:6px;
  stroke:#16a085;
}

h3 {
  margin-top:30px;
  margin-bottom: 9px;
}

h4 {
  margin-top: 9px;
  margin-bottom: 9px;
}

h5 {
  margin-top: 9px;
  margin-bottom: 9px;
}

p {
  margin-top: 9px;
  margin-bottom: 9px;
}

a {
  font-weight: bold;
  text-decoration: none;
  color:#34495e;
}

  #mi {
    color: #7a4c02;
  }

.toggle img{
  max-width:230px;
  margin-left:604px;
}  

.header {
  margin-bottom: -20px;
}

.resume {
  position:relative;
  width:900px;
  margin-top:22px;
}

#timeline {
  font-weight: 600;
  float:left;
  width:70%;
  height:360px;
  padding-top: 5px;
  margin-left: -10px;
}

.categoryLabels {
  font-size: 18px;
}

.placeLabel {
  font-style: italic;
  margin-bottom: 10px;
}

#info {
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #bdc3c7;
}

#contact {
  margin-bottom:5px;
}

.main {
  font-family: 'Helvetica', sans-serif;
  position: fixed;
  margin-top: 30px;
  left:50%;
  margin-left:-423px;
  color: #000;;
}

footer {
  text-align: center;
  font-family: 'Helvetica', sans-serif;
  position: fixed;
  margin-left: 300px;
  bottom: 0px;
  height:20px;
  color:#909090;
}

svg:not(:root) {
    overflow: hidden;
}

.hidden {
    display: inline;
}

.shown {
  display:inline;
}

.rect{
  cursor: pointer;
}

.rect:hover {
  background: black;
  color: black;
  fill:#000000;
  stroke:#000000;
}

.rect::selection {
  fill:#000000;
  stroke:#000000;
}

#detail{
  width:25%;
  float:left;
}