h1 {
  font-family: 'Open Sans', sans-serif;
  float:left;
  text-align: left;
  font-size: 45px;
  color: #16a085;
  display:inline;
  margin-bottom:-50px;
  margin-top:80px;
  margin-left:6px;
  font-weight: 800;
}

  #mi {
    color: #7a4c02;
     font-weight: 800;
  }

.header {
  margin-bottom: -20px;
}

.project {
  position:relative;
  width:900px;
  margin-top:22px;
}

.main {
  position: relative;
  max-width:1000px;
  margin-top: 30px;
  left:50%;
  margin-left:-423px;
}

.img1 {
  margin:10px;
}

.img2 {
  margin:10px;
}

.img3 {
  margin:10px;
}

.img4 {
  margin:10px;
}

.img5 {
  margin:10px;
}

.img6 {
  margin:10px;
}

.img7 {
  margin:10px;
}

.img1 {
  margin:10px;
}

.img8 {
  margin:10px;
}

.img9 {
  margin:10px;
}

.img10 {
  margin:10px;
}

.headlinertext h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight:600;
  font-weight: bold;
  margin-bottom:-10px;
  margin-top: -145px;
  font-size:20px;
}

.headlinertext p {
  font-family: helvetica;
  margin-right:100px;
}

